*{
    margin:0px;
    padding: 0px;
}
.nav_bar{
    height: 90px;
    box-shadow: 5px 5px 20px  rgb(226, 108, 11,0.4);
}
.nav_bar div a{
     display: inline-block;
}
/* .header_img{
    width:100% ;
    height: 30px;
} */
#logo-wrapper {
    display: inline-block;
    padding: 4px 16px;
    float: left;
}
.clear1{
    clear: both;
} 
#headerlinks{
    display: inline-block;
    font-size: 14px;
    margin: 12px 0 0 30px;
    font-family: 'Gotham 4r', sans-serif;

}
.headerlink{
    color: rgb(62, 33, 231);
    text-decoration: none;
}
.nav_bar ul{
    /* display:inline-block ;*/
     float:right;
 }
 .nav_bar ul li{
     display:inline-block ;
     margin-top: 10px;
     margin-right: 20px;  
 }
 .nav_bar ul li a{
     text-align: center;
     text-decoration:none;
     text-transform: uppercase;
     color: black;
 }
