*{
    margin: 0px;
    padding: 0px;
}
.header{
    text-align: center;
    color: blue;

}

.form {
    width: 50%;
    margin: auto;
}
input[type="text"],input[type="email"],input[type="number"],input[type="date"] {
    width:100% ;
    height: 35px;
    outline: none;
    border:1px solid white;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="date"]:focus {
    border:4px solid green;
}

#address {
    width:100% ;
    height: 100px; 
    outline:none ;
    border: 1px solid  rgb(89, 206, 89);
}
input[type="text"]:focus {
    color: blue;
    border: 1px solid red;

}

input[type="radio"]:checked + label {
    color: brown;
}

input[type="checkbox"]:enabled + label {
    color: greenyellow;
    font-style: italic;
}
input[type="checkbox"]:checked + label {
    color: red;
    font-style: normal;
}
input[type="checkbox"]:disabled + label {
    color: gray;

}

li:first-child{
    background-color: aqua;
}
li:nth-child(5){
    background-color: purple;
}

li:last-child{
    background-color: blue;
}

p:empty{
    height: 20px; 
    background-color: rgb(107, 206, 89);
}

button{
    width: 120px ;
    height: 35px ;
    border-radius: 50px;
}
