h1{
    color: blue;
    text-align: center;
    font-size: 40px;
}

*{
    color:black;
}

small{
    color: orange;
}

a[title=

 ] {color: blue;}

#idselector{
text-indent: 50px;
letter-spacing: 10px;
}

.classselector{
color: brown;
font-style: italic;
}

.classselectorone{
    color: blue;
}

.desc a{
    color: blue;
}

#child>a {
    color: blueviolet;
}

.pseudo:link{
    color: blue;
}

.pseudo:hover{
    color: yellowgreen;
    letter-spacing: 20px;
}

.pseudo:active {
    color: green;

}

.pseudo:visited{
    color: aqua;
}

:target {
    border: 1px solid red;
}

.borderone{
    border: 2px solid black;
}

.bordertwo{
    border-top: 5px greenyellow;
}
.borderstyleone{
    border-style: double ;
}
.bordermix{
   /* border-style: dashed dotted;*/
    /* Top and Bottom , Left and Right*/
    border-style: dashed dotted double solid;
}

.borderwidth{
    border-style: solid;
    border-width: thick;
}
.marginone{
    margin: 50px;
}